.appleItem{

	width: 100%;
	float: left;
	margin-bottom: 20px;

	.apple{
		img{
			width: 20px;
			height: 20px;
		}
	}

	.info{

		display: inline-block;
		float: left;

	}

	button{
		float: right;
		width: 50px;
		background-color: #3c9;
	}

}