@import '~antd/dist/antd.css';

.ant-layout-aside {
  position: relative;
  min-height: 100%;
  width: 800px;
  margin: 0 auto;
  .ant-layout-container {
    margin: 24px 16px;
    .ant-layout-content {
      background: #fff;
      padding: 24px;
    }
  }
}
